*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

body{
background:#333;
}

.container{
    font-size: 16;
    background-color:#a72b86 ;
    width: 90vh;
    max-width: 34em;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50% ;
    left: 50%;
    border-radius: .6em;
    padding: 3em;
    box-shadow: 0 1.8em 2.4em rgba(232, 45, 188, 0.25);

    #options-container{
        div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 1.2em 0 2.4em 0;
        }

        button{
            padding: 1.3em;
            border: none;
            border-radius: .6em;
            background: linear-gradient(145deg, #b32e8f, #962779);
            box-shadow:  9px 9px 18px #751e5e,
                         -9px -9px 18px #d938ae;
        }
    }
}